In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
df=pd.read_csv("RF datasets.csv")

## ML pipeline

step-1 : import required lib

step-2 : load the dataset

step-3 : data preprocessing 

step-4 : EDA

step-5 : feature engineering

step-6 : train and test splitting

step-7 : train model

step-8 : predict model

step-9 : model evulation metrics

step-10 : saved model

In [4]:
df.head()

,age,salary,experience_years,education_level,department,city_tier,work_hours_per_week,performance_score,promotion_last_5years,target_left_company
0,56,136748.0,33,PhD,IT,Tier-3,47,3.800000,0,1
1,46,25287.0,28,High School,Finance,Tier-2,40,2.400000,1,1
2,32,146593.0,3,PhD,HR,Tier-1,45,2.970316,0,0
3,60,54387.0,16,High School,IT,Tier-3,47,2.600000,0,0
4,25,28512.0,34,Bachelor,Finance,Tier-2,64,1.900000,0,1

In [5]:
df['department'].value_counts()

department
IT            225
Finance       201
Operations    199
HR            190
Marketing     185
Name: count, dtype: int64

In [7]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse_output=False,drop='first')

categorical_cols=['city_tier','department','education_level']

ohe_df=pd.DataFrame(ohe.fit_transform(df[categorical_cols]),columns=ohe.get_feature_names_out(categorical_cols))

df=pd.concat([df.drop(columns=categorical_cols),ohe_df],axis=1)

df.head()

,age,salary,experience_years,work_hours_per_week,performance_score,promotion_last_5years,target_left_company,city_tier_Tier-2,city_tier_Tier-3,department_HR,department_IT,department_Marketing,department_Operations,education_level_High School,education_level_Master,education_level_PhD
0,56,136748.0,33,47,3.800000,0,1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,46,25287.0,28,40,2.400000,1,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,32,146593.0,3,45,2.970316,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,60,54387.0,16,47,2.600000,0,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,25,28512.0,34,64,1.900000,0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.model_selection import train_test_split
x=df.drop(columns=['target_left_company'])
y=df['target_left_company']
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.3, random_state=42)

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [10]:

r=RandomForestClassifier(criterion='entropy',n_estimators=100, random_state=42)
r.fit(x_train, y_train)
y_pred=r.predict(x_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.5566666666666666
Confusion Matrix:
 [[85 66]
 [67 82]]
Classification Report:
               precision    recall  f1-score   support

           0       0.56      0.56      0.56       151
           1       0.55      0.55      0.55       149

    accuracy                           0.56       300
   macro avg       0.56      0.56      0.56       300
weighted avg       0.56      0.56      0.56       300

In [ ]:
comparison_df=pd.DataFrame({'Actual':y_test,'Predicted':y_pred})
comparison_df.head(10)